@charset "UTF-8";

body
{
	color: #111;
	font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
	font-size: 17.5px;
	line-height: 1.5;
}

button
{
	background-color: #4285f4;
	border: 0;
	color: white;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 20px;
}

button:hover { background-color: #357abd; }

caption
{
	font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
	text-align: center;
}

dd
{
	margin-left: 1em;
}

dl { margin-left: 50%; }

figure
{
	margin-bottom: 10px;
	margin-left: 10px;
}

form { padding-bottom: 1em; }
h1, .h1 { font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif; }
h2 { font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif; }
h3 { font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif; }

h4
{
	font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
	font-weight: bold;
}

h5
{
	font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
	font-size: 17.5px;
	font-weight: bold;
	text-align: center;
}

h6
{
	font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

iframe
{
	margin-bottom: 10px;
	margin-left: 10px;
}

input[type=text]
{
	border: 2px solid #ddd;
	border-radius: 4px;
	flex: 1;
	font-size: 16px;
	padding: 8px 12px;
}

object
{
	margin-bottom: 10px;
	margin-left: 10px;
}

q { quotes: "“" "”" "‘" "’"; }
q::before { content: open-quote; }
q::after { content: close-quote; }
section { padding-top: 1em; }

sub
{
	bottom: -0.25em;
	font-size: smaller;
	position: relative;
	vertical-align: baseline;
}

summary
{
	cursor: pointer;
	display: list-item;
}

sup
{
	bottom: 0.33em;
	font-size: smaller;
	position: relative;
	vertical-align: baseline;
}

.breadcrumb { margin-top: 1em; }

.columns
{
	-moz-column-gap: 1em;
	-ms-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
	margin-bottom: 1em;
}

.embed-responsive { margin-bottom: 1em; }

.footer
{
	border-color: green;
	border-style: solid none none;
	border-width: 1px 0 0;
	padding-top: 1em;
}

.lead { font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif; }

.header
{
	border-bottom: green;
	border-style: none none solid;
	border-width: 0 0 1px;
	text-align: center;
}

.navigation
{
	font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
	font-size: 14px;
}

.navigation a
{
	background-color: white;
	border-left: 1px solid green;
	color: gray;
	display: block;
	margin: 0;
	padding: 1px 5px 1px 10px;
	text-decoration: none;
}

.navigation a:hover
{
	background-color: #ff9;
	border-left: 4px solid maroon;
	color: blue;
	padding-left: 7px;
}

.navigation h4
{
	background-color: transparent;
	border-bottom: 1px solid green;
	border-left: 1px solid green;
	color: maroon;
	font-size: 100%;
	font-weight: bold;
	margin: 0;
	padding: 1em 5px 0 2px;
}

.pdf, #pdf
{
	height: 600px;
	width: 100%;
}

.pull-left { margin-right: 1em; }
.pull-right { margin-left: 1em; }
.reset-box-sizing, .reset-box-sizing * { box-sizing: content-box; }

@media (min-width: 768px)
{
	.columns
	{
		-moz-column-count: 2;
		-ms-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 992px)
{
	.columns
	{
		-moz-column-count: 3;
		-ms-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
